<%- include("../partials/header") %>

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-3 col-md-3">
                <p class="lead">Yelp camp</p>
                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>

            </div>
            <div class="col-md-9">
                <div class="card mb-3" style="width: 1300px; height:30em; ">
                    <img style="width: 100%;height:100%;" class="card-img-top" src="<%=campground.image %> alt=" Card image cap ">
                    <div class="card-body ">
                        <div class="container-fluid ">
                        <h3 class="card-title "><a class="float-left "href="# "><%= campground.name %></a></h3>
                      <p class="float-right font-weight-bold ">$9.99 <br/></p>
                      <br/>
                      <br/>
                     </div>
                      <p class="card-text ">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longerThe purpose of lorem ipsum is to create a natural looking block of text (sentence, paragraph, page, etc.) that doesn't distract from the layout. A practice not without controversy, laying out pages with meaningless filler text can be very useful when the focus is meant to be on design, not content.

                        The passage experienced a surge in popularity during the 1960s when Letraset used it on their dry-transfer sheets, and again during the 90s as desktop publishers bundled the text with their software. Today it's seen all around the web; on templates, websites, and stock designs. Use our generator to get your own, or read on for the authoritative history of lorem ipsum.
                        
                        Origins and Discovery
                        Lorem ipsum began as scrambled, nonsensical Latin derived from Cicero's 1st-century BC text De Finibus Bonorum .</p>
                      <p class="card-text "><small class="text-muted ">Last updated 3 mins ago</small></p>
                    </div>
                  </div>
                  
            </div>
        </div>
    </div>
    <h1>
        <%= campground.name %>
    </h1>

    <img src="<%=campground.image %>">

                    <p>
                        <%= campground.desc %>
                    </p>

                    <p>
                        <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a> </p>

                    <% campground.comments.forEach(function(data){ %>
                        <p><strong><%= data.author %></strong> -
                            <%= data.text %>
                        </p>


                        <% }) %>


                            <%- include("../partials/footer") %>