<%- include("../partials/header") %>

    <div class="container-fluid border" style="padding: 20px;">
        <div class="row">
            <div class="col-md-3 showcol1">
                <p class="lead">
                    Yelpcamp
                </p>

                <ul class="list-group">
                    <li class="list-group-item active">Cras justo odio</li>
                    <li class="list-group-item">Dapibus ac facilisis in</li>
                    <li class="list-group-item">Morbi leo risus</li>
                    <li class="list-group-item">Porta ac consectetur ac</li>
                    <li class="list-group-item">Vestibulum at eros</li>
                </ul>
            </div>

            <div class="col-md-9">
                <div class="container-fluid border show2">
                    <img class="img-thumbnail img-fluid border imgsize" src="<%= campground.image %>">
                    <div class="container-fluid">
                        <p class="title">
                            <a href="#" class="float-left">
                                <%= campground.name %>
                            </a>
                        </p>
                        <p class="float-right font-weight-bold price ">$9.99/day
                            <p>
                                </br>

                                <p class="showdesc">
                                    </br>
                                    <%= campground.desc %>
                                </p>
                    </div>
                    </br>
                </div>

                <sectiont class="show-comment">
                    <div class="container-fluid list-group-item-dark" style="border-radius: 10px;">

                        <div class="d-flex flex-row-reverse list-group-item-dark bd-highlight comment1 ">
                            <div>
                                <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add new comment</a>
                            </div>
                        </div>
                        <hr>


                        <% campground.comments.forEach(function(data){ %>

                            <div class="row showrow">
                                <div class="col-md-12">
                                    <Strong class="float-left text-uppercase"><%=data.author %></Strong>
                                    <span class="float-right">10 days ago</span>
                                </div>
                                <div class="col-md-12">
                                    <p style="text-align: left;">

                                        <%= data.text %>
                                    </p>
                                    <hr>
                                </div>
                            </div>
                            <% }) %>

                    </div>





            </div>

            </sectiont>
        </div>
    </div>


    </div>







    <%- include("../partials/footer") %>