<%- include("partials/header") %>

    <h1>
        <%= campground.name %>
    </h1>
    <img src="<%= campground.img %>">

    <p>
        <%= campground.desc %>
    </p>

    <% campground.comments.forEach(function(comment){%>
        <P>
            <strong> <%= comment.author %> </strong>-
            <%= comment.text %>
        </P>

        <% }); %>
            <%- include("partials/footer") %>