<%- include("partials/header.ejs") %>
    <% blogs.forEach(function(blogs) {  %>

        <h1>
            <%= blogs.title %>
        </h1>
        <img src="<%= blogs.image %> ">
        <p>
            <%= blogs.body.substring(0,100)%>
        </p>

        <!-- this is to print first 100 words of the letter  -->
        <a href="/blogs/<%= blogs._id %> ">read more</a>
        <% }) %>


            <%- include("partials/footer.ejs") %>