<%- include("partials/header") %>
    <div class="ui text container segment">
        <h2 class="ui header">
            <%= blogs.title %>
        </h2>

        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blogs.image %> ">

                <div class="content" style="margin-left: 60px;">

                    <span> <%= blogs.created.toDateString() %></span>
                </div>
            </div>

        </div>

        <div class="description">
            <p>
                <%= blogs.body%>
                    <!-- <- > if u pass this instead of the above the user can run html tag inside description  -->
            </p>

        </div>


    </div>


    <%- include("partials/footer") %>