<%- include("partials/header") %>
    <div class="ui text container segment">
        <h2 class="ui header">
            <%= blogs.title %>
        </h2>

        <div class="ui top attached">
            <div class="item">
                <img class="ui centered rounded image" src="<%= blogs.image %> ">

                <div class="content" style="margin-left: 60px;">

                    <span> <%= blogs.created.toDateString() %></span>
                </div>
            </div>

        </div>

        <div class="description">
            <p>
                <%= blogs.body%>
                    <!-- <- > if u pass this instead of the above the user can run html tag inside description  -->
            </p>

        </div>


        <a class="ui olive button" href="/blogs/<%= blogs._id %>/edit"> EDIT </a>
        <form id="delete" action="/blogs/<%= blogs._id %>?_method=DELETE " method="POST">
            <button class="negative ui button">Delete</button>
        </form>
        <!-- <form method="POST" action="/blogs/?_method=DELETE">

        </form> -->


    </div>


    <%- include("partials/footer") %>